- isEditing = () => !(Object.keys(book).length === 0);

h2=isEditing() ? "Edit Book" : "New Book"

form(
  action=isEditing() ? `/update/${book.id}?_method=PUT` : '/books',
  method='POST',

  hx-post=isEditing() ? false : '/books',
  hx-put=isEditing() ? `/update/${book.id}` : false,
  hx-target='#sidebar',
  hx-push-url=isEditing() ? `/books/${book.id}` : false
  hx-on::after-request='if(event.detail.successful) this.reset()',
)
  label(for='title') Title:
  input#title(type='text', title='title', required, value=book.title)

  label(for='author') Author:
  input#author(type='author', title='author', required, value=book.author)

  label(for='ISBN') ISBN:
  input#ISBN(type='ISBN', title='ISBN', required, value=book.ISBN)

  div.actions
    button(type='submit') Submit